.heroBanner {
  padding: 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #51029f 0%, #7404e4 50%, #a04ff1 100%);
  color: #ffffff;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 3rem 1.5rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
